<div class="right-panel-content">
    <div class="content-row-adjust">
        <div class="row form-group">
            <div class="col-md-7">
                <div class="table-responsive">
                    <table align="center" class="table table-striped table-bordered table-hover">
                        <tbody> 
                            <tr>
                                <td class="showPanelBg padding-10px" valign="top" width="98%">
                                    <div id="searchAcc">
                                        <form action="" method="post" name="basicSearch" id="basicSearch"> 
                                            <table class="table table-striped table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td class="searchUIName small" align="left" nowrap="nowrap" width="10%"><span class="moduleName">Search</span></td>
                                                        <td class="small" align="right" nowrap="nowrap" width="10%"><strong>User Name<br>Full Name<br>Mobile</strong></td>
                                                        <td class="small" width="15%"><input class="txtBox" id="id1" name="id1" type="text" value=""></td>		
                                                        <td class="small" nowrap="nowrap" width="13%">
                                                            <button class="custom-button">Search Now</button>
                                                        </td>
                                                    </tr>					
                                                </tbody>
                                            </table>
                                        </form>               
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div id="ListViewContents" class="small" >	
                                            <form action="" method="post" accept-charset="utf-8" name="massdelete" id="massdelete" > 				 
                                                <input name="selectedboxes" id="selectedboxes" value="" type="hidden">
                                                <input name="allselectedboxes" id="allselectedboxes" value="" type="hidden">					
                                                <div id="employee_inforrmation_for_show">
                                                    <h1>Information</h1>             
                                                    <div id="supleft" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1389765652_thumb.jpg" ></td>
                                                                    <td align="right"  class="padding-10px"><b>100001</b><br><b>Card No:</b>100001<br>Md. Shariful Islam<br>
                                                                        <br><br><br><br>Email:  sharif@visiontelbd.com<br>Phone: 01740100200<br>
                                                                        Blood Group: AB Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div> <div id="supright" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1389766513_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>100002</b><br><b>Card No:</b>100002<br>Ayrin Islam<br>
                                                                        <br><br><br><br>Email: ayrin@visiontelbd.com<br>Phone: 01740111222<br>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div>
                                                    <div class="clearfix"></div><br>
                                                    <div id="supleft" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1454936019_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>101.1002</b><br><b>Card No:</b>12564083<br>Shyamal Kumar Biswas (Bablu)<br>Company: IPVision Limited
                                                                        <br>Division: IPV-HR &amp; Admin<br>Department: IPV-HR &amp; Admin<br>Designation: Assistant Manager<br>Email: shyamal@ipvisionbd.com<br>Phone: 01711-048087<br>
                                                                        Blood Group: O Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div> <div id="supright" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1387349659_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>101.1003</b><br><b>Card No:</b>00723666<br>Ayesha Tus Sagira<br>Company: IPVision Limited
                                                                        <br>Division: IPV-HR &amp; Admin<br>Department: IPV-HR &amp; Admin<br>Designation: Senior Executive<br>Email: sagira@ipvisionbd.com<br>Phone: 01681-200650<br>
                                                                        Blood Group: A Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div>
                                                    <div class="clearfix"></div><br>
                                                    <div id="supleft" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1387776915_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>200.2002</b><br><b>Card No:</b>553708<br>Muhsina Mobasshera<br>Company: Cloud Tel Limited
                                                                        <br>Division: CTel-HR &amp; Admin<br>Department: CTel-HR &amp; Admin<br>Designation: Manager<br>Email: muhsina@ipvisionbd.com<br>Phone: 01714216165<br>
                                                                        Blood Group: B Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div> <div id="supright" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1459829211_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>101.1004</b><br><b>Card No:</b>9627872<br>Jharna Rahman<br>Company: IPVision Limited
                                                                        <br>Division: IPV-HR &amp; Admin<br>Department: IPV-HR &amp; Admin<br>Designation: Senior Executive<br>Email: jharna@ipvisionbd.com<br>Phone: 01686-709563<br>
                                                                        Blood Group: AB Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div>
                                                    <div class="clearfix"></div><br>
                                                    <div id="supleft" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody><tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1387360767_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>113.1001</b><br><b>Card No:</b>000111<br>Adv. Md. Najmul Haque Kabir<br>Company: IPVision Limited
                                                                        <br>Division: IPV-Legal &amp; Coorporate Affairs<br>Department: IPV-Legal General<br>Designation: Senior Manager<br>Email: najmul@ipvisionbd.com<br>Phone: 01712-012846<br>
                                                                        Blood Group: AB Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div> <div id="supright" class="col-xs-6">
                                                        <table width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="padding-10px"><img src="http://software.ipvision.ca/emp_img/emp_1387779362_thumb.jpg" ></td>
                                                                    <td align="right" class="padding-10px"><b>201.2004</b><br><b>Card No:</b>487718<br>Md. Emrul Islam<br>Company: Cloud Tel Limited
                                                                        <br>Division: CTel-Technical<br>Department: CTel-Power &amp; Transmission<br>Designation: Assistant Manager<br>Email: emrul@cloudtelbd.com<br>Phone: 01710379609<br>
                                                                        Blood Group: B Positive</td>
                                                                </tr>
                                                            </tbody>
                                                        </table> 
                                                    </div>
                                                    <div class="clearfix"></div><br>                    
                                                </div>
                                            </form>
                                        </div>
                                        <span class="employee-counter"><strong> Total:349 </strong></span>
                                        <div class="employee-info-pagination"> 
                                            <div>
                                                <mat-paginator [length]="10"
                                                    [pageSize]="4"
                                                    [pageSizeOptions]="[6, 10, 20]">
                                                </mat-paginator>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th class="detailedViewHeaderContent" colspan="5"> HR Notice </th>
                            </tr>
                            <tr>
                                <th class="cellLabelconet" width="15%">Title </th>
                                <th class="cellLabelconet" width="15%">Date </th>
                                <th class="cellLabelconet" width="10%"> Company </th>
                                <th class="cellLabelconet" width="65%"> Details </th>
                                <th class="cellLabelconet" width="10%"> File </th>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> VACATION NOTICE </td>
                                <td class="cellLabelconet">2017-02-19</td>
                                <td class="cellLabelconet"> IPVision Limited </td>
                                <td class="cellLabelconet"> Dear Everyone, Our office will remain close on February 21, 2017 for International Mother Language Day and there will also a surprizing Holiday on February 22, 2017 Wednesday!!....Enjoy the 4 Days long Vaccation...:) Regards, HR &amp; Admin </td>
                                <td class="cellLabelconet"> 
                                </td>           
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody>
                            <tr align="center">
                                <th class="detailedViewHeaderContent" colspan="3"> Yearly Leave Remaining (2017) </th>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td class="cellLabelconet" width="33%"><b> Leave Type</b></td>
                                <td class="cellLabelconet" width="33%"><b> Total Days </b></td>
                                <td class="cellLabelconet" width="33%"><b> Details</b></td>
                            </tr> 
                            <tr>
                                <td class="cellLabelconet" width="33%">Forward Earn Leave</td>
                                <td class="cellLabelconet" width="33%">10</td>
                                <td class="cellLabelconet" width="33%"></td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet">Earn leave &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet">Medical leave  &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th class="detailedViewHeaderContent" colspan="8"> Leave Application (2017) </th>
                            </tr>
                            <tr>
                                <th class="cellLabelconet" width="10%">Leave Type </th>
                                <th class="cellLabelconet" width="10%">Leave Start  </th>
                                <th class="cellLabelconet" width="10%">Leave End </th>
                                <th class="cellLabelconet" width="10%">No of Days </th>
                                <th class="cellLabelconet" width="10%">Join Date </th>
                                <th class="cellLabelconet" width="10%">Leave State</th>              
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-11 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> Earn leave </td>
                                <td class="cellLabelconet"> 2017-01-28 </td>
                                <td class="cellLabelconet"> 2017-01-29 </td>
                                <td class="cellLabelconet"> 2 </td>
                                <td class="cellLabelconet"> 2017-01-30 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>