<div class="right-panel-content">
    <div class="content-row-adjust">
        <div class="row form-group">
            <div class="col-md-7">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr>
                                <th class="detailedViewHeaderContent" colspan="9"> Leave Approve </th>
                            </tr>
                            <tr>
                                <th class="cellLabelconet" width="10%">Leave Start </th>
                                <th class="cellLabelconet" width="10%">Leave End </th>
                                <th class="cellLabelconet" width="10%">No of Days </th>
                                <th class="cellLabelconet" width="10%">Join Date </th>
                                <th class="cellLabelconet" width="10%">Leave State</th>              
                                <th class="cellLabelconet" width="40%">Reason</th>              
                                <th class="cellLabelconet" width="10%">Action</th>              
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">Approved </td>
                                <td class="cellLabelconet"> Simply dummy text of the printing and typesetting industry.  </td>
                                <td class="cellLabelconet"> <a>Accept</a> / <a>Reject</a></td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">Approved </td>
                                <td class="cellLabelconet"> Simply dummy text of the printing and typesetting industry.  </td>
                                 <td class="cellLabelconet"> <a>Accept</a> / <a>Reject</a></td>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">Approved </td>
                                <td class="cellLabelconet"> Simply dummy text of the printing and typesetting industry.  </td>
                                 <td class="cellLabelconet"> <a>Accept</a> / <a>Reject</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th colspan="5"> Employee Attendance February, 2017 </th>
                            </tr>
                            <tr >
                                <th class="text-left" width="10%"> Date </th>
                                <th class="text-left" width="10%"> Day </th>
                                <th class="text-left" width="10%"> Start time</th>
                                <th class="text-left" width="10%"> End Time </th>   
                                <th class="text-left" width="10%"> Duration </th>  
                            </tr>

                            <tr >
                                <td class="cellLabelall">  2017-02-01 </td>
                                <td class="cellLabelall">  Wednesday </td>
                                <td class="cellLabelall">  09:51:32 am  </td>
                                <td class="cellLabelall">  06:01:40 pm  </td>
                                <td class="cellLabelall">  08:10:08 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-02 </td>
                                <td class="cellLabelall">  Thursday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-03 </td>
                                <td class="cellLabelall">  Friday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-04 </td>
                                <td class="cellLabelall">  Saturday </td>
                                <td class="cellLabelall">  09:51:19 am  </td>
                                <td class="cellLabelall">  06:15:30 pm  </td>
                                <td class="cellLabelall">  08:24:11 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-05 </td>
                                <td class="cellLabelall">  Sunday </td>
                                <td class="cellLabelall">  09:57:35 am  </td>
                                <td class="cellLabelall">  07:17:43 pm  </td>
                                <td class="cellLabelall">  09:20:08 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-06 </td>
                                <td class="cellLabelall">  Monday </td>
                                <td class="cellLabelall">  09:54:41 am  </td>
                                <td class="cellLabelall">  05:02:39 pm  </td>
                                <td class="cellLabelall">  07:07:58 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-07 </td>
                                <td class="cellLabelall">  Tuesday </td>
                                <td class="cellLabelall">  09:48:53 am  </td>
                                <td class="cellLabelall">  06:03:10 pm  </td>
                                <td class="cellLabelall">  08:14:17 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-08 </td>
                                <td class="cellLabelall">  Wednesday </td>
                                <td class="cellLabelall">  09:57:58 am  </td>
                                <td class="cellLabelall">  07:12:06 pm  </td>
                                <td class="cellLabelall">  09:14:08 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-09 </td>
                                <td class="cellLabelall">  Thursday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-10 </td>
                                <td class="cellLabelall">  Friday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-11 </td>
                                <td class="cellLabelall">  Saturday </td>
                                <td class="cellLabelall">  09:53:41 am  </td>
                                <td class="cellLabelall">  06:38:34 pm  </td>
                                <td class="cellLabelall">  08:44:53 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-12 </td>
                                <td class="cellLabelall">  Sunday </td>
                                <td class="cellLabelall">  09:50:09 am  </td>
                                <td class="cellLabelall">  08:00:40 pm  </td>
                                <td class="cellLabelall">  10:10:31 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-13 </td>
                                <td class="cellLabelall">  Monday </td>
                                <td class="cellLabelall">  09:56:03 am  </td>
                                <td class="cellLabelall">  07:31:34 pm  </td>
                                <td class="cellLabelall">  09:35:31 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-14 </td>
                                <td class="cellLabelall">  Tuesday </td>
                                <td class="cellLabelall">  09:57:58 am  </td>
                                <td class="cellLabelall">  06:14:28 pm  </td>
                                <td class="cellLabelall">  08:16:30 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-15 </td>
                                <td class="cellLabelall">  Wednesday </td>
                                <td class="cellLabelall">  09:55:25 am  </td>
                                <td class="cellLabelall">  06:05:18 pm  </td>
                                <td class="cellLabelall">  08:09:53 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-16 </td>
                                <td class="cellLabelall">  Thursday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-17 </td>
                                <td class="cellLabelall">  Friday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-18 </td>
                                <td class="cellLabelall">  Saturday </td>
                                <td class="cellLabelall">  09:36:06 am  </td>
                                <td class="cellLabelall">  07:01:07 pm  </td>
                                <td class="cellLabelall">  09:25:01 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-19 </td>
                                <td class="cellLabelall">  Sunday </td>
                                <td class="cellLabelall">  09:54:05 am  </td>
                                <td class="cellLabelall">  07:58:09 pm  </td>
                                <td class="cellLabelall">  10:04:04 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-20 </td>
                                <td class="cellLabelall">  Monday </td>
                                <td class="cellLabelall">  09:55:55 am  </td>
                                <td class="cellLabelall">  06:27:25 pm  </td>
                                <td class="cellLabelall">  08:31:30 </td>
                            </tr>                               

                            <tr >
                                <td class="cellLabelall">  2017-02-21 </td>
                                <td class="cellLabelall">  Tuesday </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00  </td>
                                <td class="cellLabelall">  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-22 </td>
                                <td class="dvtCellContent" >  Wednesday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-23 </td>
                                <td class="dvtCellContent" >  Thursday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-24 </td>
                                <td class="dvtCellContent" >  Friday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-25 </td>
                                <td class="dvtCellContent" >  Saturday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-26 </td>
                                <td class="dvtCellContent" >  Sunday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-27 </td>
                                <td class="dvtCellContent" >  Monday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               

                            <tr >
                                <td class="dvtCellContent" >  2017-02-28 </td>
                                <td class="dvtCellContent" >  Tuesday </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00  </td>
                                <td class="dvtCellContent" >  00:00:00 </td>
                            </tr>                               
                            <tr>
                                <td colspan="4">Total:</td>
                                <td>123:28:43</td>
                            </tr>
                        </tbody></table>



                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th class="detailedViewHeader" colspan="5"> Upcoming Birth Day </th>
                            </tr>

                            <tr >
                                <th class="dvtCellLabel" width="10%"> Employee Id </th>
                                <th class="dvtCellLabel" width="10%"> Name  </th>
                                <th class="dvtCellLabel" width="10%"> Birth Date</th> 
                                <th class="dvtCellLabel" width="10%"> Email Address</th> 
                                <th class="dvtCellLabel" width="10%"> Division</th>
                            </tr>

                            <tr >
                                <td class="dvtCellInfo"> 107.1055 </td>
                                <td class="dvtCellInfo"> S.M. Shamim Reza  </td>
                                <td class="dvtCellInfo"> <b>24 February,2017</b> </td>
                                <td class="dvtCellInfo"> reza@ipvisionsoft.com</td>
                                <td class="dvtCellInfo"> IPV-Software Development</td>
                            </tr>
                            <tr >
                                <td class="dvtCellInfo"> 118.1005 </td>
                                <td class="dvtCellInfo"> Abir Ahmed  </td>
                                <td class="dvtCellInfo"> <b>21 February,2017</b> </td>
                                <td class="dvtCellInfo"> abir@ipvisionsoft.com</td>
                                <td class="dvtCellInfo"> IPV-Marketing</td>
                            </tr>
                            <tr >
                                <td class="dvtCellInfo"> 107.1155 </td>
                                <td class="dvtCellInfo"> Md. Ashraf Uddin  </td>
                                <td class="dvtCellInfo"> <b>21 February,2017</b> </td>
                                <td class="dvtCellInfo"> ashraf.uddin@ipvisionsoft.com</td>
                                <td class="dvtCellInfo"> IPV-Software Development</td>
                            </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th class="detailedViewHeaderContent" colspan="5"> HR Notice </th>
                            </tr>
                            <tr >
                                <th class="cellLabelconet" width="15%">Title </th>
                                <th class="cellLabelconet" width="15%">Date </th>
                                <th class="cellLabelconet" width="65%"> Details </th>
                            </tr>

                            <tr >
                                <td class="cellLabelconet"> VACATION NOTICE </td>
                                <td class="cellLabelconet">2017-02-19</td>
                                <td class="cellLabelconet"> Dear Everyone, Our office will remain close on February 21, 2017 for International Mother Language Day and there will also a surprizing Holiday on February 22, 2017 Wednesday!!....Enjoy the 4 Days long Vaccation...:) Regards, HR &amp; Admin </td>
                            </tr>
                        </tbody></table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">

                        <tbody><tr >
                                <td class="dvtCellInfo" colspan="9"><b>Attendance Summary: January</b>, 2017</td> 
                            </tr>


                            <tr class="even" onmouseout="this.className = 'odd'" onmouseover="this.className = 'lvtColDataHover'">                                                      
                                <td class="dvtCellInfo" colspan="3">
                                    <b>Total Working day: </b>16&nbsp; 
                                    <br>
                                    <b>Total Working hours: </b> 128 hr &nbsp;
                                </td>
                                <td class="dvtCellInfo" colspan="4">
                                    <b>After taking leave Working day: </b>13&nbsp;
                                    <br>
                                    <b>After taking leave Working hours: </b> 104 hr &nbsp;
                                </td>
                            </tr>

                            <tr class="even" onmouseout="this.className = 'odd'" onmouseover="this.className = 'lvtColDataHover'">
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Present</strong></td>
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Late </strong></td>
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Early Leave</strong></td>
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Leave</strong></td>
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Absent </strong></td>
                                <td class="dvtCellInfo" width="8%"><strong>&nbsp; Total Time </strong></td>
                                <td class="dvtCellInfo" width="7%"><strong>&nbsp;Extra Duty </strong></td>
                            </tr>


                            <tr class="even" onmouseout="this.className = 'odd'" onmouseover="this.className = 'lvtColDataHover'">
                                <td class="dvtCellInfo">13&nbsp;</td> <!--present -->
                                <td class="dvtCellInfo">0&nbsp;</td> <!--Late -->
                                <td class="dvtCellInfo">3&nbsp;</td> <!--Early -->
                                <td class="dvtCellInfo">2&nbsp;</td> <!--Leave -->
                                <td class="dvtCellInfo">0&nbsp;<!--Absent -->
                                </td>
                                <td class="dvtCellInfo">
                                    117 hr 23 min 37 sec&nbsp;
                                </td>

                                <td class="dvtCellInfo">3&nbsp;<!--Extra Duty Day -->
                                </td>
                            </tr>
                        </tbody></table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr align="center">
                                <th class="detailedViewHeaderContent" colspan="3"> Yearly Leave Remaining (2017) </th>
                            </tr>
                            <tr>

                            </tr><tr>
                                <td class="cellLabelconet" width="33%"><b> Leave Type</b></td>
                                <td class="cellLabelconet" width="33%"><b> Total Days </b></td>
                                <td class="cellLabelconet" width="33%"><b> Details</b></td>
                            </tr> 
                            <tr>
                                <td class="cellLabelconet" width="33%">Forward Earn Leave</td>
                                <td class="cellLabelconet" width="33%">10</td>
                                <td class="cellLabelconet" width="33%"></td>
                            </tr>



                            <tr>
                                <td class="cellLabelconet">Earn leave &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>

                            <tr>
                                <td class="cellLabelconet">Medical leave  &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th class="detailedViewHeaderContent" colspan="8"> Leave Application (2017) </th>
                            </tr>
                            <tr >
                                <th class="cellLabelconet" width="10%">Leave Type </th>
                                <th class="cellLabelconet" width="10%">Leave Start  </th>
                                <th class="cellLabelconet" width="10%">Leave End </th>
                                <th class="cellLabelconet" width="10%">No of Days </th>
                                <th class="cellLabelconet" width="10%">Join Date </th>
                                <th class="cellLabelconet" width="10%">Leave State</th>              
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-11 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Earn leave </td>
                                <td class="cellLabelconet"> 2017-01-28 </td>
                                <td class="cellLabelconet"> 2017-01-29 </td>
                                <td class="cellLabelconet"> 2 </td>
                                <td class="cellLabelconet"> 2017-01-30 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>