<div class="left-panel-content">
    <div id="left-panel-menu">
        <nav class="navbar navbar-default left-panel-navbar-default form-group">
            <div class="container-fluid">
                <div class="navbar-header left-panel-navbar-header-custom">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#left-panel" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse left-panel-navbar-collapse-custom" id="left-panel">
                    <div  class="left_menu form-group"  >
                        <div id="set_user_service_id">
                            <div class="panel-group" id="accordion" role="tablist" >
                                <div class="panel panel-default custom-panel">
                                    <a class="left-menu-anchor" (click)="goHome($event)" [ngClass]="{'active': activeMenu == 'home' }" href="" role="button">
                                        <div class="panel-heading custom-panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <i class="fa fa-tachometer"></i> Dashboard
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="panel panel-default custom-panel">
                                    <div class="panel-heading custom-panel-heading" role="tab" id="headingTwo" class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="panel-title">
                                            <a class="left-menu-anchor" role="button">  <i class="fa fa-arrow-right"></i> Leave Particular</a> <img class="pull-right" src="resources/images/down-arrow.png"> 
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <ul class="left-menu-unorder-list">
                                            <a (click)="goApplyForLeave($event)" [ngClass]="{'active': activeMenu == 'applyforleave' }" href=""><li >Apply For Leave</li></a>
                                            <a (click)="goLeaveDetails($event)" [ngClass]="{'active': activeMenu == 'leavedetails' }" href=""><li >Leave Details</li></a>
                                            <a (click)="goCurrentLeaveState($event)" [ngClass]="{'active': activeMenu == 'currentleavestate' }" href=""><li >Current Leave State</li></a>
                                            <a (click)="goHolidayCalendar($event)" [ngClass]="{'active': activeMenu == 'holidaycalendar' }" href=""><li >Holiday Calendar</li></a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default custom-panel">
                                    <div class="panel-heading custom-panel-heading" role="tab" id="headingFour" class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFive">
                                        <h4 class="panel-title">
                                            <a class="left-menu-anchor" role="button"><i class="fa fa-child"></i> View Attendance</a> <img class="pull-right" src="resources/images/down-arrow.png">
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <ul class="left-menu-unorder-list">
                                            <a (click)="goOwnAttendance($event)" [ngClass]="{'active': activeMenu == 'ownattendance' }" href=""><li >Own Attendance</li></a>
                                            <a (click)="goOwnCurrentAttendance($event)" [ngClass]="{'active': activeMenu == 'owncurrentattendance' }" href=""><li >Own Current Attendance</li></a>
                                            <a (click)="goAbsentSummary($event)" [ngClass]="{'active': activeMenu == 'absentsummary' }" href=""><li >Absent Summary</li></a>
                                            <a (click)="goTodaysLeave($event)" [ngClass]="{'active': activeMenu == 'todaysleave' }" href=""><li >Todays Leave</li></a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default custom-panel">
                                    <div class="panel-heading custom-panel-heading" role="tab" id="headingFive" class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h4 class="panel-title">
                                            <a class="left-menu-anchor" role="button"><i class="fa fa-info"></i> Employee Info</a> <img class="pull-right" src="resources/images/down-arrow.png">
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <ul class="left-menu-unorder-list">
                                            <a (click)="goEmployeeInfo($event)" [ngClass]="{'active': activeMenu == 'employeeinfo' }" href=""><li >Employee Info</li></a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel panel-default custom-panel">
                                    <div class="panel-heading custom-panel-heading" role="tab" id="headingSix" class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h4 class="panel-title">
                                            <a class="left-menu-anchor" role="button"><i class="fa fa-newspaper-o"></i> Notice Publish</a> <img class="pull-right" src="resources/images/down-arrow.png">
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <ul class="left-menu-unorder-list">
                                            <a (click)="goNoticePublish($event)" [ngClass]="{'active': activeMenu == 'noticepublish' }" href=""><li >Notice Publish</li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
