<div class="right-panel-content">
    <div class="content-row-adjust">
        <div class="row form-group margin-top-20px">
            <div class="col-md-7 pull-right">
                <button class="custom-button">Add</button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-7">
                <div class="table-responsive" id="edit-hr-notice-table">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th class="detailedViewHeaderContent" colspan="5"> HR Notice </th>
                            </tr>
                            <tr>
                                <th class="cellLabelconet" width="15%">Title </th>
                                <th class="cellLabelconet" width="15%">Date </th>
                                <th class="cellLabelconet" width="65%"> Details </th>
                                <th class="cellLabelconet" width="10%"> Action</th>
                            </tr>
                            <tr>
                                <td class="cellLabelconet"> VACATION NOTICE 1</td>
                                <td class="cellLabelconet">21.02.2017</td>
                                <td class="cellLabelconet"> Dear Everyone, Our office will remain close on February 21, 2017 for International Mother Language Day and there will also a surprizing Holiday on February 22, 2017 Wednesday!!....Enjoy the 4 Days long Vaccation...:) Regards, HR &amp; Admin </td>
                                <td class="cellLabelconet"> <a >edit</a> <hr class="custom-hr"> <a (click)="deleteNotice($event)">delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th class="detailedViewHeaderContent" colspan="5"> HR Notice </th>
                            </tr>
                            <tr >
                                <th class="cellLabelconet" width="15%">Title </th>
                                <th class="cellLabelconet" width="15%">Date </th>
                                <th class="cellLabelconet" width="10%"> Company </th>
                                <th class="cellLabelconet" width="65%"> Details </th>
                                <th class="cellLabelconet" width="10%"> File </th>
                            </tr>

                            <tr >
                                <td class="cellLabelconet"> VACATION NOTICE </td>
                                <td class="cellLabelconet">2017-02-19</td>
                                <td class="cellLabelconet"> IPVision Limited </td>
                                <td class="cellLabelconet"> Dear Everyone, Our office will remain close on February 21, 2017 for International Mother Language Day and there will also a surprizing Holiday on February 22, 2017 Wednesday!!....Enjoy the 4 Days long Vaccation...:) Regards, HR &amp; Admin </td>
                                <td class="cellLabelconet"> 
                                </td>           
                            </tr>
                        </tbody></table>
                </div>

                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr align="center">
                                <th class="detailedViewHeaderContent" colspan="3"> Yearly Leave Remaining (2017) </th>
                            </tr>
                            <tr>

                            </tr><tr>
                                <td class="cellLabelconet" width="33%"><b> Leave Type</b></td>
                                <td class="cellLabelconet" width="33%"><b> Total Days </b></td>
                                <td class="cellLabelconet" width="33%"><b> Details</b></td>
                            </tr> 
                            <tr>
                                <td class="cellLabelconet" width="33%">Forward Earn Leave</td>
                                <td class="cellLabelconet" width="33%">10</td>
                                <td class="cellLabelconet" width="33%"></td>
                            </tr>



                            <tr style="height: 25px;">
                                <td class="cellLabelconet">Earn leave &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>

                            <tr style="height: 25px;">
                                <td class="cellLabelconet">Medical leave  &nbsp;</td>
                                <td class="cellLabelconet">9 &nbsp;</td>
                                <td class="cellLabelconet"> &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-striped">
                        <tbody><tr >
                                <th class="detailedViewHeaderContent" colspan="8"> Leave Application (2017) </th>
                            </tr>
                            <tr >
                                <th class="cellLabelconet" width="10%">Leave Type </th>
                                <th class="cellLabelconet" width="10%">Leave Start  </th>
                                <th class="cellLabelconet" width="10%">Leave End </th>
                                <th class="cellLabelconet" width="10%">No of Days </th>
                                <th class="cellLabelconet" width="10%">Join Date </th>
                                <th class="cellLabelconet" width="10%">Leave State</th>              
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 2017-01-08 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-09 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Half day </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 2017-01-10 </td>
                                <td class="cellLabelconet"> 0.5 </td>
                                <td class="cellLabelconet"> 2017-01-11 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                            <tr >
                                <td class="cellLabelconet"> Earn leave </td>
                                <td class="cellLabelconet"> 2017-01-28 </td>
                                <td class="cellLabelconet"> 2017-01-29 </td>
                                <td class="cellLabelconet"> 2 </td>
                                <td class="cellLabelconet"> 2017-01-30 </td>
                                <td class="cellLabelconet">
                                    Approved 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Notice Delete Modal Starts-->
<div bsModal #noticeDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="modal-title">Delete Notice</h4>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="hideNoticeDeleteModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Are you sure you are going to delete this notice?</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button (click)="hideNoticeDeleteModal($event)" class="custom-button pull-right">No</button>
                        <button (click)="confirmNoticeDeleteModal($event)" class="custom-button pull-right">Yes</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">&nbsp;</div>
        </div>
    </div>
</div>
<!--Notice Delete Modal Ends-->